@model IEnumerable<CallCenter.Models.LoginLogsModels>
@{
    ViewBag.Title = "Admin";
}

<div class="container">
    <h2>Admin</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/UserLogs">Logs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/UsersDesk">Users Desks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/UsersClientId">Users Client Id</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/UserRoles">Users Roles</a>
        </li>
    </ul>
</div>