@{
    ViewBag.Title = "About C.O.P.";
}
<h2>@ViewBag.Title</h2>

<p>
    At C.O.P. (Callcenter Online Platform), we believe there is a better way to do marketing.
    A more valuable, less invasive way where customers are earned rather than bought. We’re
    obsessively passionate about it, and our mission is to help people achieve it. 
</p>
<p>
    We mainly focus on mitigate your credit risk
    and offer the best online call center solutions.
</p>
<p>
    We've been driving innovation in accounts receivable solutions, constantly shaping and expanding beyond anything previously
    conceived to meet clients’ needs.
</p>
<p>
    Our solutions are completely customizable, extend beyond any and all expectations, and stem from experience telling us that credit risk comes from any, if not all, aspects of business.
</p>
<p>
    As a result, through our proprietary software, leading-edge technology, and considerable know-how, we work with you to do everything humanly possible to mitigate your credit risk efficiently and effectively, producing an ever-growing set of services we are proud to provide.
</p>
