@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Downtown Seattle<br />

    1100 2nd Avenue
    Suite 500
    Seattle, WA 98101<br />
    <abbr title="Phone">P:</abbr>
    +40 076 826 1685
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@copsolutions.com">Support@copsolutions.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@copsolutions.com">Marketing@copsolutions.com</a>
</address>