@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width: 1096px">
        <div class="carousel-inner">
            <div class="item active">
                <img width="1096" height="571" src="/Images/banner1b.jpg">
            </div>

            <div class="item">
                <img width="1096" height="571" src="/Images/banner2.jpg">
            </div>

            <div class="item">
                <img width="1096" height="571" src="/Images/banner3.jpg">
            </div>

            <div class="item">
                <img width="1096" height="571" src="/Images/banner4.jpg">
            </div>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-md-4">
            <h2>Productivity</h2>
            <p>
                Our cutting-edge technology and global telecommunications along with our signature inventory management model, provides the highest level of productivity and efficiency.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Results</h2>
            <p>
                We partner with you to build a customized recovery campaign, specifically designed to meet all needs, maintain our strict business and ethical approach, and produce maximum results.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Experience</h2>
            <p>
                Our decades in domestic and international commercial collections allow you the confidence that you are working with the most tenured professionals in the industry.
            </p>
        </div>
    </div>

    <h2>A Unique Approach</h2>
    <hr /><p>
        C.O.P. has the experience, technology, and commitment to work worldwide to keep you in business and your accounts current.
    </p>
    <p>
        Engraining ourselves in every
        financial aspect of your business on a global scale, we will be your partner. We will perform recovery analysis, find solutions for early and late stage problems, create customizable
        accounts receivable solutions, and always keep you involved in our process while keeping your customers happy.
    </p>
