
@{
    ViewBag.Title = "Backoffice";
}

<div class="container">
    <h2>Backoffice</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Newbusiness">New Business</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Trust">Trust</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Backoffice/PaymentRequest">Payment Request</a>
        </li>
    </ul>
</div>